<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sd.lib.umeng">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.sina.weibo" />
    </queries>

    <application>
        <provider
            android:name="com.sd.lib.umeng.share.UmengShareFileProvider"
            android:authorities="${applicationId}.f-fp-lib-umeng-share"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/lib_umeng_share_file_paths" />
        </provider>

    </application>

</manifest>